<template name="Project_share">
<form class="js-dialogue-form js-project-share-form">
    <p class="form-header">Share with others</p>
    <p class="form-message">Choose a privacy option for '{{project.name}}':</p>
    <fieldset>
      <div class="input-radio">
        <input class="js-project-share-radio" type="radio" id="project-private" name="project-public" value="private" checked="{{isPrivate}}">
        <label for="project-private">Private</label>
      </div>
      <div class="input-radio">
        <input class="js-project-share-radio" type="radio" id="project-public" name="project-public" value="public" checked="{{isPublic}}">
        <label for="project-public">Public</label>
      </div> 
    </fieldset>
    {{#if isPublic}}
      <span class="input-field input-field--link">{{urlForProject}}</span>
    {{/if}}
    <div class="form-buttons">
      <a class="js-dialogue-cancel btn btn--white">Cancel</a>
      <input type="submit" class="btn btn--grey" value="DONE">
    </div>
  </form>
</template>