<template name="Project_create">
  <form class="js-dialogue-form js-project-create-form">
    <p class="form-header">Create a planet to store your thoughts.</p>
    <p class="form-message">What is your planet called?</p>
    <input class="input-field input-field--text" type="text" name="name" placeholder="Name">
    <div class="form-buttons">
      <a class="js-dialogue-cancel btn btn--white">Cancel</a>
      <input type="submit" class="btn btn--grey" value="CREATE">
    </div>
  </form>
</template>