<template name="filter">
  <div class="filter">
    <ul class="horizontal-nav">
      <li class="horizontal-nav__list-item">
        <a class="horizontal-nav__link" data-filter-category="tags">TAGS</a>
      </li>
      <li class="horizontal-nav__list-item">
        <a class="horizontal-nav__link" data-filter-category="people">PEOPLE</a>
      </li>
    </ul>
    <ul class="tag-list u-clearfix">
      {{#each elements}}
        <li class="tag-list__list-item"><a class="tag-list__tag {{elementIsActive this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>