<template name="Project_create">
  <form class="js-project-create-form">
    <p class="dialogue__header">Create a planet to store your thoughts.</p>
    <p class="dialogue__message">What is your planet called?</p>
    <input class="input input__field input__field--text" type="text" name="name" placeholder="Name">
    <div class="u-right">
      <a class="js-dialogue-cancel btn btn--white">Cancel</a>
      <input type="submit" class="btn btn--grey" value="CREATE">
    </div>
  </form>
</template>