// Buttons

.link {
  line-height: 1.3;
  display: inline-block;
  color: $grey;
  cursor: pointer;

  &--active {
    display: inline;
    color: $grey-dark;
    border-bottom: 2px solid $grey-dark;
  }

  &--black {
    color: $black;
  }

  &--highlight {
    color: $highlight-color;
  }

  &--caret-up::after { // &: insert parent selector
    content: "\f0d8";
    font-family: FontAwesome;
    margin-left: 0.7rem;
  }
  
  &--caret-down::after { // &: insert parent selector
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: 0.7rem;
  }
}

.link:hover {
  color: $crimson;
}

.btn {
  display: inline-block; // so anchor tag can have paddings
  padding: 0 3.6rem;
  line-height: 3rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;

  &--white {
    color: $grey-dark;
    border: 1px solid $grey-light;
    margin-right: $base-half;
  }

  &--white:hover {
    border-color: $grey;
  }

  &--grey {
    color: $white;
    border: 1px solid $grey-dark;
    background-color: $grey-dark;
  }

  &--grey:hover {
    background-color: $grey-darker;
  }

  &--auth {
    margin-top: $base-third;
  }

  &--planet {
    color: $grey;
    background-color: $white;
    padding: 0 $baseline;
    width: 100%;
    height: 2 * $baseline;
    line-height: 2 * $baseline;
    text-align: left;
  }

  &--planet::after {
    float: right;
    content: "\f105";
    font-family: FontAwesome;
  }
}

.btn:focus {
  outline: none;
}
// mobile navigation
.btn-home::before {
  content: url("../img/logo-m.svg");
}

.btn-menu::after {
  color: $grey-light;
  content: "\f0c9";
  font-family: FontAwesome;
  float: right;
}
