// Forms

.input {
  margin-bottom: $base-third;

  &__field {
    display: block;
    width: 100%;
    padding: $base-sixth $base-half;
    border: 1px solid $grey-light;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 1px solid $highlight-color;
    }

    &--text {
      height: 4rem;
    }

    &--textarea {
      resize: none;
    }

    &--link {
      color: $grey;
    }

    &--error {
      border: 1px solid $crimson;
    }
  }
  
  &__error {
    color: $crimson;
  }
}

// Jquery Validation Errors
label.error {
  display: block;
  color: $crimson;
  margin-bottom: $base-third;
}

input.error {
  border: 1px solid $crimson;

  &:focus {
    border: 1px solid $crimson;
  }
}

.authentication {
  width: span(12);
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($bp-mobile) {
    width: span(8);
  }

  @include breakpoint($bp-tablet) {
    width: span(4);
  }

  &__header {
    padding-top: 2 * $baseline;
    margin-bottom: $baseline;

    @include breakpoint($bp-tablet) {
      padding-top: 4 * $baseline;
    }
  }

  &__text {
    margin-bottom: $base-half;
  }
}
