// Grid

$susy: (
	math: fluid,
	global-box-sizing: border-box,
	columns: 12,
  column-width: 7.2rem,
	// gutters: gutter-width / column-width
	gutters: 2 / 3,
  // debug: (
  //   image: show,
  // ),
);

.authentication {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3 * $baseline;
  width: span(12);

  @include breakpoint($bp-mobile) {
    width: span(8);
  }

  @include breakpoint($bp-tablet) {
    padding-top: 4 * $baseline;
    width: span(4);
  }
}

.mobile-navigation {
  background-color: $white;
  padding: 6px $base-half 0;
  margin-bottom: $baseline + $base-half;
}

.container {
  padding: 0 $base-half;
  @include container($susy);
  @include clearfix;

  @include breakpoint($bp-tablet) {
    padding: 0 $baseline;
  }
}

.filter {
  padding-top: 5 * $baseline + $base-half;
  @include span(2);
}

.visualization {
  display: none; // show vis only for bigger viewports

  @include breakpoint($bp-tablet) {
    display: block;
    z-index: -10; // vis is -10 so main navigation is always in foreground

    &--planet {
      @include span(7);
    }
  }
}

.content {
  padding-top: 11 * $baseline + $base-half;
  @include span(3 last);
}
