// Mobile
.planet-select {
  &__header {
    margin-bottom: $baseline;
  }

  &__btn {
    margin-bottom: $base-half;
  }

  &__create {
    display: block;
    margin-top: $base-half;
  }
}

.inject-thought {
  margin-top: $baseline + $base-half;

  &__header {
    display: block;
    border-bottom: 1px solid $grey-light;
    margin-bottom: $base-half;
  }
}
