// Reset (own reset styles)

// global border box sizing
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
textarea,
select,
button, {
  color: inherit;
  font: inherit;
  margin: 0;
}

::-webkit-input-placeholder {
   color: $grey-light;
}

:-moz-placeholder {
   color: $grey-light;  
}

::-moz-placeholder {
   color: $grey-light;  
}

:-ms-input-placeholder {  
   color: $grey-light;  
}

a {
  text-decoration: none;
}

