// Utility
// All utility (helper) classes have a prefix of u-

.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-full-width {
  width: 100%;
}

.u-left-top {
  position: absolute;
  top: $base-half;
  left: $base-half;

  @include breakpoint($bp-tablet) {
    left: $baseline;
  }
}

.u-right-top {
  position: absolute;
  top: $base-half;
  right: $base-half;

  @include breakpoint($bp-tablet) {
    right: $baseline;
  }
}

.u-right-bottom {
  position: absolute;
  bottom: $base-half;
  right: $base-half;

  @include breakpoint($bp-tablet) {
    right: $baseline;
  }
}

.u-relative {
  // Helper class to vertically center .dialogue
  position: relative;
  width: 100%;
  height: 100%;
}

.u-clearfix {
  @include clearfix;
}
