// Visualization

.visualization {
  &__header {
    margin-bottom: 3 * $baseline;
    text-align: center;
  }
}

// Universe

.clear-rect {
  opacity: 0;
}

// svg circles
.planet {
  cursor: default;
  fill: $white;
  stroke: $grey-light;

  &--hover {
    stroke: $black;
  }

  &--selected {
    stroke: $highlight-color;
  }
}

// html labels
.planet__label {
  position: absolute;
  left: 340px;
  top: 296px;
}

.planet__header {
  // Use opacity instead of display so getBoundingClientRect() can calculate width
  opacity: 0;
  text-decoration: none;
  color: $black;
  cursor: pointer;

  &--hover {
    opacity: 1;
  }

  &--selected {
    opacity: 1;
    color: $highlight-color;
  }

  &--selected::after {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: 0.7rem;
  }
}

// Planet

.node {
  fill: $node-color;
  stroke: $node-border-color;

  &--hover {
    fill: $node-hover-color;
  }

  &--selected {
    fill: $node-selected-color;
    stroke: $node-selected-border-color;
  }
}
