<template name="Note_create">
  <form class="js-note-create-form u-clearfix">
    <textarea class="input-field input-field--textarea" placeholder="What are you thinking? Use #tag to index your thoughts." name="text" rows="6"></textarea>
    <div class="form-buttons">
      <a href="/" class="js-note-create-cancel note-create-btn note-create-btn--left btn btn--white">Cancel</a>
      <input type="submit" class="note-create-btn note-create-btn--right btn btn--grey" value="SUBMIT">
    </div>
  </form>
</template>